<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <!-- BEGIN Separate folder for Satellite Assemblies/Localization files  -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lang" />
    </assemblyBinding>
  </runtime>
  <!-- END   -->
</configuration>